:root {
    --light-blue: rgba(164, 176, 245, 1);
    --true-blue: rgba(68, 100, 173, 1);
    --grey-brown: rgba(64, 53, 44, 255);
    --soft-grey: rgba(128, 128, 128, 1);
    --select-green: rgba(59, 202, 131, 1);
}

* {
    box-sizing: border-box;
    color: var(--grey-brown);
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    min-width: 320px;
    height: 100%;
}

/* HEADER */

/* header ->    position:fixed;

main ->     position: relative;
    left:30%;
*/

header {
    background-color: var(--light-blue);
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    position:fixed;
}

.intro img {
    margin: 10px, auto;
    border-radius: 50%;
    width: 30%;
    height: auto;
}

.intro .contacts {
    display: flex;
    justify-content: center;
    height: 30%;
}

.contacts svg {
    margin: .5em;
    height: 30px;
    -webkit-transition: fill .3s;
    transition: fill .3s;
    cursor: pointer;
}

.contacts svg:hover {
    fill: var(--select-green);
}

/* MAIN */

main {
    position: relative;
    left:30%;
    padding: 5%;
    width: 70%;
    height: 100%;
}

/* ABOUT ME */

.about-me {
    padding: 0 0 2rem 0;
    border-bottom: solid 3px var(--soft-grey);
}




/* RECENT PROJECTS */

.articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article {
    width: 48%;
}

article .project1-img {
    border: solid 1px rgba(128, 128, 128, 0.3);
    border-radius: 5px;
    width: 100%;
}

section.links {
    /* border: solid red 1px; */
    display: flex;
    justify-content: center;
}

section.links button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    margin: 0 5% 5% 5%;
    border-radius: 10px;
    border: 3px solid var(--soft-grey);
    background-color: white;
    color: var(--soft-grey);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: color .3s, border .3s;
    transition: color .3s, border .3s;
}

section.links button:hover {
    color: var(--select-green);
    border: solid 3px var(--select-green);
}

/* FONTS */

h1 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

header p {
    padding: 0 10%;
    text-align: right;
    font-size: 1.35rem;
}

p span {
    color: white;
    font-weight: 800;
}

main p {
    color: var(--soft-grey);
    font-size: 1rem;
    line-height: 150%;
}


@media screen and (max-width : 600px) {
    .articles {
        flex-direction: column;
    }

    article .project1-img {
        width: 100%;
    }

    .articles article {
        width: 100%;
    }
    header p {
        max-width: 70%;
    }
}

/* MEDIA QUERY */

@media screen and (max-width : 768px) {
    body {
        flex-direction: column;
    }
    header {
        height: 30%;
        width: 100%;
        position: static;
    }
    main {
        width: 100%;
        height: 70%;
        position: static;
    }
    header p {
        text-align: center;
    }
}